[2015-09-02 04:36] martyla opened #3 "Add option to change port?"
It would be nice to allow changing the port, either through allowing customization of the base template, or an additional parameter.

"We support connections on a variety of ports, TCP 80/443/110, as well as a number of UDP ports: 53, 1194, 8080, 9201" - https://www.privateinternetaccess.com/forum/discussion/comment/5168/#Comment_5168

[2015-09-03 01:26] flamusdiu commented on #3
I could add an opt in the config file. Though, would there be any reason to do this per host or just all hosts at the same time?

[2015-10-13 22:58] martyla commented on #3
All hosts is probably reasonable...

The reason this option is desirable is when the default port of 1194 is blocked/inaccessible

[2015-10-14 01:47] flamusdiu commented on #3
Okay, I'll add it in the next day or so

[2015-10-26 21:32] flamusdiu commented on #3
Oops ... I was just working on this and realized ... I need to use both TCP and UDP configs. =P

[2015-10-26 21:59] flamusdiu commented on #3
@martyla Are you using Network Manager? If so, can you setup a TCP connection and post the configuration (removing all private info)? I don't use it. =(

The default is UDP but I don't know what the file looks like if a TCP connection was setup in Network Manager to a VPN server. I can't find good info on it. =(

[2015-10-28 22:19] flamusdiu commented on #3
@martyla just pushed an update -- should work with NM. Let me know if are any issues.

[2015-10-28 22:19] #3 closed

[2015-10-28 22:28] martyla commented on #3
@flamusdiu Perfect, thanks!

I actually don't use Network Manager, just netctl + openvpn from systemctl.

My use case for this is to quickly generate the conf files in `/etc/openvpn`

[2015-10-28 22:32] flamusdiu commented on #3
@martyla ahh, yeah, it works for that too. Let me know if there are any issues. I just use conman. =P

[2015-10-30 20:39] flamusdiu commented on #3
@martyla did you get around to testing this?

[2016-04-14 01:39] flamusdiu opened #4 "Missing `pia.conf` breaks python-pia"
[code]

Reported by Bolwerk from https://wiki.archlinux.org/index.php/Talk:Private_Internet_Access_VPN.

[2016-05-21 20:20] torpet opened #5 "spaces in hosts in pia.conf breaks "pia -a""
[code]
breaks the application, whereas
[code]
works fine

[2016-05-27 22:11] #4 closed

[2016-05-27 22:11] #5 closed

[2016-05-28 01:27] cryzed opened #6 "IndexError when attempting to automatically generate configurations"
[code]

I am using NetworkManager and previously had an older PKGBUILD of [private-internet-access-vpn](https://aur.archlinux.org/packages/private-internet-access-vpn) installed.

[2016-05-28 02:20] flamusdiu commented on #6
Well, oops. I broken it. This is what I get for trying to fix things when I haven't gotten enough sleep. =\ I'll see what I can do about this.

[2016-05-28 02:41] cryzed commented on #6
Thank you!

[2016-05-28 02:41] flamusdiu commented on #6
I have an Ingress event tomorrow but I'll try and fix it up this weekend. It's broken for me (different error) and I'll work something out.

[2016-05-28 09:06] ghost commented on #5
This introduced a new bug that now you have to use "US_East" instead of the mentioned "US East", since you remove the blanks: https://gist.github.com/torpet/b2c92f17e2070fbe3fdcdab36f2206de

[2016-05-28 10:19] flamusdiu commented on #5
Yeah, I noticed that. I need to fix that up before my OCD kills me. =P

[2016-05-29 17:56] oakular commented on #6
I am also receiving the same error as the original when running pia -a as root

[2016-05-29 21:43] flamusdiu commented on #6
Should be fixed now ... let me know.

[2016-05-29 22:08] max-baz commented on #6
@flamusdiu which commit should we test, f5c7ebcaaa747b277f5ad91cd97650b9a597020e (which is the latest pushed as of now)? It doesn't look like it contains a fix, and the issue is still reproducible... Maybe you forgot to push?

[2016-05-29 22:37] StickAndBindleGames commented on #6
I'm still able to reproduce error on 2.6.1-1 here as well, fwiw.

[2016-05-29 22:38] flamusdiu commented on #6
haha ... wth ... let me see why it did it pushed. I swear I did!

[2016-05-29 22:40] flamusdiu commented on #6
Some how my changes got reverted ... let me fix it and I'll repush the version again

[2016-05-29 22:59] flamusdiu commented on #6
Lets try that again ... since I apparently messed up my merge ... =P Should be right now.

[2016-05-29 23:01] flamusdiu commented on #6
You will have to reinstall it though, I didn't change the version number .. just fixed my commits so it actually had the real comment that I missed.

[2016-05-29 23:04] max-baz commented on #6
I used commit 740438d7846b756b74ddbca2966f72b8ad6d14fe, the issue is still reproducible, the error is exactly the same as before in line 153, only now pia is 2.6.1:

[code]

[2016-05-29 23:06] max-baz commented on #6
Does it not reproduce for you @flamusdiu ?

[2016-05-29 23:13] flamusdiu commented on #6
grr ... one sec

[2016-05-29 23:16] StickAndBindleGames commented on #6
If it's of any help, mine errors on ln 65 instead:

`Traceback (most recent call last):

  File "/usr/bin/pia", line 9, in <module>
    load_entry_point('pia==2.6.1', 'console_scripts', 'pia')()
  File "/usr/lib/python3.5/site-packages/pia/command_line.py", line 23, in main
    pia.run.run()
  File "/usr/lib/python3.5/site-packages/pia/run.py", line 60, in run
    [globals()[k]() for k, v in props

[2016-05-29 23:18] flamusdiu commented on #6
(sigh) let me see about these ... it seems to work in my virtual env but then it doesn't work when directly installed ... for the record I am getting this:

[code]

[2016-05-29 23:18] flamusdiu commented on #6
@StickAndBindleGames Can you fix your comment? The formatting is all messed up. =\

[2016-05-29 23:26] StickAndBindleGames commented on #6
Ha, apologies. It was hating every formatting I tried.

[2016-05-29 23:34] max-baz commented on #6
The root cause seems to be exactly the same, `properties.props.port.split('/')` does not have two elements in the list. It can _only_ be if the `/` character is completely missing from that string (see below a few examples), but I don't know what kind of data `properties.props.port` holds and where it gets filled in, and therefore why it does not have `/` in it.

@flamusdiu does it ring any bell?

[2016-05-30 00:04] flamusdiu commented on #6
Maybe. it's pulling that from the `pia.conf` file if you have the port configured (ie `tcp\8080') I guess I need to insure it's not empty.

Sorry, I was working on pacman hooks already for this before I got to head of myself. lol. Let me see about getting this fixed. Thanks!

[2016-05-30 00:20] max-baz commented on #6
I confirm, creating the `/etc/private-internet-access/pia.conf` (even as a complete copy of `/etc/private-internet-access/pia-example.conf`) fixes this issue, so can be considered as a workaround until this bug is resolved.

Thanks @flamusdiu!

[2016-05-30 00:38] flamusdiu commented on #6
Ooo ... good find ... that's why I am not seeing it. Thanks!

[2016-05-30 01:16] flamusdiu commented on #6
@maximbaz can you try it again?

Just a note: I need to change `pia -r` to attempt to remove all configurations. Seems it only removes all if you have no customized ones in `pia.conf` or ONLY the ones in `pia.conf` if configured. Not exactly how I want that to work. =\

[2016-05-30 01:39] flamusdiu opened #7 "`pia -r` leaves configurations behind"
When using `pia -r` it only checks `pia.conf` for configured hosts. If you have run `pia -a` then modificed `pia.conf` to customize the host list, then pia will leave behind old configurations when you re-run `pia -a`.

[2016-05-30 02:39] max-baz commented on #6
It works now, `pia -a` generated all configurations as expected even without `pia.conf` file.

Thanks @flamusdiu!

[2016-05-30 03:11] flamusdiu commented on #6
Np. Just push another change due to update-resolv-conf missing. Let me know if you find anything else.

[2016-05-30 03:11] #6 closed

[2016-05-30 03:39] StickAndBindleGames commented on #6
Thanks for the update-resolv-conf fix. I was about to mention I had to manually make that executable to get the previous fix to work, but was trying to figure out if It was a local error with my setup before commenting (had previously been toying with the file).

All is working smoothly on my end now.

[2016-05-30 10:34] cryzed commented on #6
Thank you!

[2016-05-30 15:11] flamusdiu commented on #7
fixed by #v2.7

[2016-05-30 15:11] #7 closed

[2016-05-30 15:15] flamusdiu commented on #7
Closed by 8a7131acc2feaae0943ed1d45d8e6d7866ca90a9

[2016-06-13 16:46] cryzed opened #8 "Unrecoverable disconnects when using NetworkManager+OpenVPN"
I'm not sure if I'm the only one with this issue, but when using NetworkManager + OpenVPN and the configuration files provided by this package, I get regular disconnects every few hours after which OpenVPN doesn't manage to reconnect.

I suspect it is because NetworkManager thinks the VPN tunnel device is still connected and when OpenVPN attempts to reconnect to the VPN server it fails. This can h

[2016-06-14 01:40] flamusdiu commented on #8
From what I can see, it may or may not be a NM problem. I haven't used the VPN for a very long 12hr+ session. I could just add something in the configuration file to allow toggling it on or off if people have odd  drop out issues. I wouldn't want to change the way PIA is setup to work out-of-the-box without user interactions or something seriously wrong with the configurations--which, in that case

[2016-06-14 12:34] cryzed commented on #8
This sounds exactly like what I had in mind. I'll try the modified configuration files for a bit on my system now and let you know if it improves the situation.

[2016-06-15 03:03] flamusdiu commented on #8
Let me know what you find out. I am in the process of switching jobs/moving and it wouldn't be a bad idea to wait to see if the change in options would help you.

[2016-06-15 12:28] cryzed commented on #8
Will do, and good luck!

[2016-06-16 17:19] cryzed commented on #8
The issue still exists:

[code]

At a loss at what to do, honestly. The output changed slightly: it at least attempts to do the handshake now, but because all traffic is still being routed over tun0 (which is down) it won't ever succeed.

I can't believe I am the only one with this issue, especially because my setup isn't really special, however I have a hard time finding similar bug reports. This

[2016-06-18 11:48] flamusdiu commented on #8
Have you check the static route it adds to see if it is different between the VPN being up and the VPN being disconnected?

[2016-06-18 13:08] cryzed commented on #8
No, I didn't get a chance to test it yet after adding `persist-remote-ip`, but if I'm understanding you correctly, that's exactly the issue I think I found. The IP used in the static route that is added to the routing table during the initial connection to the VPN differs from the IP used when OpenVPN attempts to reconnect.

This happens because the configured DNS resolver returns any of the [spec

[2016-06-19 19:52] cryzed commented on #8
Adding `persist-remote-ip` didn't work:

[code]

Compare:
- 19.06.16 15:24    nm-openvpn  UDPv4 link remote: [AF_INET]46.166.190.129:1194
- 19.06.16 19:08    nm-openvpn  UDPv4 link remote: [AF_INET]109.201.154.199:1194

And this is _after_ I added `persist-remote-ip` to `/etc/openvpn/Netherlands.conf`. So either persist-remote-ip doesn't seem to do what I expect it to, or it doesn't work. I also t

[2016-06-19 20:56] cryzed commented on #8
[This](https://gist.github.com/cryzed/5303f2e4ec1b4125f30fd31662d5b1be) works if OpenVPN is used from the command-line, since the script is properly executed. When this configuration file is used through NetworkManager-OpenVPN the script instructions are completely ignored by the way! So now I have to find a different way to make this work with NetworkManager.

Slowly getting sick of this...

[2016-06-19 21:37] cryzed commented on #8
Alright. So dispatcher scripts for NetworkManager get a fraction of the information OpenVPN scripts get through the environment variables, which makes running [this](https://gist.github.com/cryzed/5303f2e4ec1b4125f30fd31662d5b1be) script basically impossible.

When using OpenVPN directly, only a single initially resolved IP address is added to the routes. I am not sure in how far using OpenVPN dir

[2016-06-23 12:34] cryzed commented on #8
I ended up writing [fix-networkmanager-openvpn](https://github.com/cryzed/bin/blob/master/fix-networkmanager-openvpn), which actually worked -- however due to networkmanager-openvpn dropping privileges, it later can't modify the tunnel anymore when it is needed. I might be able to work around this by allowing the `nm-openvpn` group access to `/dev/net/tun0`. Or I could just uninstall NetworkManage

[2016-06-23 12:34] #8 closed

[2016-06-24 00:41] flamusdiu commented on #8
Do you think you can do a write on exactly how you fixed it? I might as well add that to the Wiki page on Arch Wiki (or you can yourself).

[2016-06-24 12:07] cryzed commented on #8
I solved a part of the problem, but discovered another problem with NetworkManager-OpenVPN in the process: [fix-networkmanager-openvpn](https://github.com/cryzed/bin/blob/master/fix-networkmanager-openvpn) is started as a [systemd service](https://github.com/cryzed/bin/blob/master/fix-networkmanager-openvpn.service) on boot and monitors the nm-openvpn journal. As soon as an IP address for a remote

[2016-06-27 20:59] cryzed commented on #8
Turns out using `systemctl enable openvpn@configuration` has similar issues sooner or later, and the same set of scripts is needed to successfully work with a domain in your client configuration file: Meaning you probably need a local DNS resolver or at least cacher, something to keep those DNS entries regularly cached ("warm") if your resolver or cacher respects the domain's TTL and discards info

[2016-06-28 00:50] flamusdiu commented on #8
Umm...maybe we can work on this. Probably need to use a chat app.

[2016-06-28 01:08] cryzed commented on #8
My Google Talk address is cryzed@googlemail.com. IRC is also possible, somewhere on Freenode maybe? Whatever you want.

[2016-07-02 23:10] flamusdiu commented on #8
Wow, I just realized you responded. Sorry. =( I'll drop you a line this weekend.

[2016-07-12 20:52] vise890 opened #9 "NetworkManager does not work with new `openvpn.zip`"
When I

1. follow the [wiki](https://wiki.archlinux.org/index.php/Private_Internet_Access_VPN) and I change the `PKGBUILD` to point to the new [`openvpn.zip` from PIA](https://www.privateinternetaccess.com/openvpn/openvpn.zip)
1. run `pia -a`
1. try to connect to a VPN through NetworkManager

Then:
- I get a notification "connection failed"
- I see this in `journalctl`:
`Jul 12 21:07:30 [..]: Opti

[2016-07-14 01:34] flamusdiu commented on #9
Yeah, this is due to new security requirements. I just noticed these changes last night.

[2016-07-14 03:03] flamusdiu commented on #9
Fixed with v2.8

Umm, just curious why you put the login information directly into the file?

[2016-07-14 16:42] vise890 commented on #9
It's just the compiled version of the [nm template](https://github.com/flamusdiu/python-pia/blob/master/src/pia/applications/template-configs/nm.cfg#L16)

[2016-07-14 16:44] #9 closed

[2016-07-15 10:00] flamusdiu commented on #9
Lol...wow, not enough coffee. =p

[2016-07-21 23:38] cryzed commented on #8
I have since removed the heavy plumbum dependency from the [script](https://github.com/cryzed/bin/blob/master/fix-openvpn). I also made sure, that my current OpenVPN configuration really only works after disconnects with it running: it does -- it's not a coincidence.

You can see exactly what is happening [here](https://gist.github.com/anonymous/9426da9ec493c3903df100bd4564bd94). My ISP regularly

[2016-07-28 22:27] maximbaz opened #12 "[NM] Strong encryption is not properly configured via `pia -a`"
Install the `aur/private-internet-access-vpn-dev` package.

Put the following configuration in `/etc/private-internet-access/pia.conf`:

[code]

Run `sudo pia -a`, then look at the file `/etc/NetworkManager/system-connections/France`:

1. `port=1198`, but should be `port=1197`.
2. `cipher=aes-128-cbc`, but should be `cipher=AES-256-CBC` (case is irrelevant for the connection, but GUI of NetworkMan

[2016-07-28 23:50] flamusdiu commented on #12
Thanks! I will look at it. The duplicate message is due to setting both OpenVPN and NM configs. I need to probably check that outside the loop.

[2016-08-01 01:20] flamusdiu commented on #12
`error: unable to run hook pia-install.hook: could not satisfy dependencies`

I don't know why this error is happening. I am just going to remove the hooks. I don't get the error when I install. =(

[2016-08-01 01:24] max-baz commented on #12
Sure, that's not a big deal, it's OK to run `pia -a` manually after installation.
Most important job is to produce the correct configuration file, with all the adjustments that I mentioned :wink:

[2016-08-01 01:29] flamusdiu commented on #12
@maximbaz yeah, I changed the cause due to how it looks in the file. Conman but NM seems to have some issues with that -- go figure. lol

[2016-08-08 15:03] markubiak opened #13 "DNS Leaks for all connections"
Using the default configuration, openvpn may use DNS servers that are not protected by the VPN, causing these DNS providers to possibly snoop on which sites you're browsing.  Openvpn can mitigate this by adding the line "block-outside-dns" to the end of every file in /etc/openvpn/*.conf.  This fixes the DNS leak and ensures nobody can snoop on you.  You can test the leak and the fix using http://d

[2016-08-16 12:11] max-baz commented on #13
@markubiak in case you are interested, this is how I solve the issue (with NetworkManager):

[code]

In other words, as long as VPN is connected, the `/etc/resolv.conf` contains only PIA DNS servers and is made readonly to naively protect the file from being overwritten. A bit hacky, but works well.

[2016-09-03 20:01] markubiak commented on #13
Huh, that chmod stuff is some bash black magic.  I'm gonna go do research on why that works.  It completely fixed DNS leaks for me though.  Thank you!  I'm leaving this issue open as it really should be mitigated.

[2016-09-06 18:09] flamusdiu commented on #13
I will have to look more into this.

@markubiak considering most scripts/changes would probably not change the attrib on the file from RO, it stands to reason that setting it to RO would mitigate some other application changing the DNS settings.

[2016-09-06 18:15] flamusdiu commented on #13
I wonder if it has something to do how https://github.com/masterkorp/openvpn-update-resolv-conf works. I'll have to look at this when I get back to my Linux box.

[2016-09-16 08:14] morgothdidnothingwrong opened #14 "Issues with whitelist-based firewalls"
Hello,

I came through several issues with python-pia through a firewall :

* some universities or dormitories (that's my user case, but I suppose some alike laws apply to a whole region too) block the git protocol, and I suggest you to move the sources of the Archlinux PKGBUILD to the https protocol,
* the same applies to the VPN handshakes : I can't connect to PIA, and I don't have the technical

[2016-09-18 02:30] flamusdiu commented on #14
You can use the Advance configurations to change the protocol/port => https://wiki.archlinux.org/index.php/Private_Internet_Access_VPN#WIP:_Advanced_Options

There is an example configuration file there.

[2016-09-18 02:35] flamusdiu commented on #14
As for the https problem, can you try to change this in the PKGBUILD and try rebuilding the package

[code]

to

[code]

See if that fixes the pull at your university.

[2016-09-18 02:51] flamusdiu commented on #13
Running `openvpn` directly doesn't appear to leak DNS. I have been using Connman though I have some issue with it not setting up the VPN properly.

[2016-09-19 19:48] flamusdiu commented on #12
@maximbaz is this still an issue?

[2016-09-19 20:25] max-baz commented on #12
@flamusdiu I've just installed the most recent `aur/private-internet-access-vpn-dev` and all the issues described are still reproducible, except for this error is not happening anymore: `error: unable to run hook pia-install.hook: could not satisfy dependencies`.

But most importantly, the `port`, `cipher` and `auth` are still wrong in the generated file. All the other reported issues are small an

[2016-09-19 21:36] flamusdiu commented on #12
can you post a config file, plz?

[2016-09-19 21:55] max-baz commented on #12
@flamusdiu it is posted in the first message of this issue. I'm using exactly these steps and configs.

[2016-09-19 21:57] max-baz commented on #12
But frankly there aren't any new commits in `dev` or `master` branches since I originally reported this issue, so no wonder it is still reproducing for me. Perhaps you simply forgot to do `git push`, @flamusdiu? :smile:

[2016-09-19 22:09] flamusdiu commented on #12
@maximbaz well, then, I swear, I need some reading glasses or something. For some reason, I thought it was only the hooks causing issues, so I'll update the dev branch tonight or tomorrow and let you know.

[2016-09-25 12:43] flamusdiu commented on #12
@maximbaz just add some changes to the dev branch can you try that for me please?

[2016-09-25 12:56] max-baz commented on #12
@flamusdiu sure, but the new commit https://github.com/flamusdiu/python-pia/commit/96f712ae46950101bb5b4a0709c51a6cc59a5921 in dev branch has 0 changes. Maybe merge went wrong?

[2016-09-25 13:09] flamusdiu commented on #12
Yeah, I amended the previous comment but for some reason my local git branch said it was out of date and merged a blank comment. Let me see about removing that a sec.

[2016-09-25 13:10] flamusdiu commented on #12
Removed the empty comment. =D

[2016-09-25 13:11] flamusdiu commented on #12
I am going to test on my box for conman. I already updated the AUR package ( https://aur.archlinux.org/packages/private-internet-access-vpn-dev/) as well.

[2016-09-25 13:18] max-baz commented on #12
`port` is still `1198`, but should be `1197`.
`cipher` is now capitalized, but the value is `AES-128-CBC`, while it should be `AES-256-CBC`.
`auth` is now not missing, but has wrong value of `SHA1`, while it should be `SHA256`.

[2016-09-25 13:19] flamusdiu commented on #12
oops ... dammit. one sec. I was about to check the port when mine failed =P

[2016-09-25 13:50] flamusdiu commented on #12
Now rebuild it again.

[2016-09-25 13:54] flamusdiu commented on #12
For some reason Conman is being dumb:

[code]

Keeps by-passing the VPN.

[2016-09-25 14:13] flamusdiu commented on #12
Okay. restarted `connman-vpn` and now it's working properly.

[2016-09-25 14:14] max-baz commented on #12
@flamusdiu now it looks good on NM as well, and nothing seems to be bypassing.
Thanks for the fix! I guess you can close this issue.

[2016-09-25 14:18] flamusdiu commented on #13
Connecting through the Japan end point. The DNS leak test shows fine:

![screenshot_2016-09-17_22-40-25](https://cloud.githubusercontent.com/assets/1879197/18815821/0ad01eba-8309-11e6-8338-05c858ac78e8.png)

OpenVPN Config

[code]

Conman Config

[code]

[2016-09-25 14:19] flamusdiu commented on #14
@morgothdidnothingwrong any luck at testing the change above?

[2016-09-25 14:20] flamusdiu commented on #12
@maximbaz let me merge it to the master branch and get that setup. I'll close when we can both test it. Thanks for the support! Sorry for the delay on fixing it.

[2016-09-25 14:30] max-baz commented on #13
I can actually confirm that DNS is not leaking anymore, neither on "normal" nor on "strong" configurations (tested with NM). The hack I posted earlier is not required anymore.

I imagine the issue was somewhere else (perhaps in PIA's configs or in update-resolv-conf), and now it got fixed.

[2016-09-25 14:32] max-baz commented on #12
Sounds good. Let me know when AUR package is updated, and I will run the tests again.

[2016-09-25 14:41] flamusdiu commented on #12
updated now

[2016-09-25 14:44] flamusdiu commented on #13
@maximbaz okay, then I'll close this. =D

[2016-09-25 14:50] max-baz commented on #12
`aur/private-internet-access-vpn` works flawlessly, it can configure both "normal" and "strong" configurations.

Thanks once again @flamusdiu!

[2016-09-25 14:52] flamusdiu commented on #12
Thanks for the testing. Just push a minor update for the PKGBUILD. Let's hope there isn't any more issues. lol

[2016-09-25 14:52] #12 closed

[2016-09-25 14:52] flamusdiu commented on #14
went ahead and changed it. this is fixed.

[2016-09-25 14:52] #14 closed

[2016-09-25 16:01] max-baz commented on #13
I have just been able to observe the leak. Interestingly enough, when I re-run the same test, the leak is gone!

I think this is what happens. Without any extra hacks, the `/etc/resolv.conf` looks like this:

[code]

Which means, whenever possible PIA's DNS take priority. **But** if _for some reason_ those servers are unable to resolve an address, my provider's DNS kicks in and therefore leaks the

[2016-09-25 16:37] flamusdiu commented on #13
well shoot... I will look at it.

[2016-09-25 16:40] max-baz commented on #13
I'm not sure though that the changes needs to be done in this project.

We need to investigate why the line `nameserver 192.168.1.1` appears in the `/etc/resolv.conf`. Who is putting it there and why? Is it because of PIA's config? Is it because of the `update-resolv-conf.sh`?

[2016-09-25 17:01] flamusdiu commented on #13
exactly... I will look in a bit

[2016-09-25 18:31] flamusdiu commented on #13
@maximbaz what doe `/etc/resolv.conf` show before you activate the VPN? Are you using systemd?

Mine:

[code]

[2016-09-25 18:34] flamusdiu opened #15 "OpenVPN Configurations not generated"
OpenVPN configurations are not generated when you do `pia -a` without `hosts` configured. OpenVPN configurations are no long extracted due to the differences the normal and strong configurations.

[2016-09-25 18:51] max-baz commented on #13
This is the contents of the `/etc/resolv.conf` immediately after the system boot:

[code]

I don't know exactly what is the process behind generating it. I think I use systemd (I manage services using systemctl tool, which is the part of systemd, right?).

I use router, and 192.168.1.1 is the address of the router.

[2016-09-25 22:03] flamusdiu commented on #13
yes, it's managed by systemclt.

[2016-09-25 22:05] flamusdiu commented on #13
Can you do a `systemctl list-units | grep enabled`? Post the results.

[2016-09-25 22:17] max-baz commented on #13
No matches.

Maybe let's switch to a chat, @flamusdiu?
Let's try this one for example: https://niltalk.com/r/qwilX
Password: 12345

[2016-09-26 13:55] flamusdiu commented on #13
that's odd ... it's always best to catch me on G+/HO -> https://bit.ly/AzuleOnyx

[2016-09-27 02:55] flamusdiu commented on #15
4bb779151450a6b2c1cdf6488b4bf3159f7ceb4e is the potential fix for this issue.

[2016-09-27 12:05] flamusdiu opened #16 "Removal of configurations broken"
Issuing `pia -r` gives `AttributeError: '_Parser' object has no attribute 'apps'`

[2016-09-27 12:09] flamusdiu commented on #15
Looks like broke setting strong encryption.

[2016-09-27 12:11] #16 closed

[2016-09-28 13:11] flamusdiu opened #17 "Protocols and Ports Not working"
Seems, I have hit a road block and I can find that only the following Protocols/Ports work:

default => TCP/502, UDP/1198
strong encryption configs => TCP/501, UDP/1197

Any other combination gives the error: `OpenSSL: error:14090086:SSL routines:ssl3_get_server_certificate:certificate verify failed => Points to a mismatched certification on that port.`

One user on the AUR page, posted this log a

[2016-09-28 21:16] Oppzippy opened #18 "ca and crl-verify point to the wrong file in openvpn config files"
Lines containing the issue:
[code]
This occurs in all of the openvpn conf files. crl.rsa.2096.pem and ca.rsa.2096.crt do not exist, and it is probably intended that these are supposed to be 2048, as that file does exist.

[2016-09-28 21:23] Oppzippy commented on #18
Checked dev branch and it's already fixed. Can be ignored.

[2016-09-28 21:23] #18 closed

[2016-09-28 22:00] flamusdiu commented on #18
yeah, I have epic typing skills. sorry about the confusion.

[2016-09-29 03:22] flamusdiu commented on #15
fixed with v3.1

[2016-09-29 03:22] #15 closed

[2016-10-02 18:58] flamusdiu commented on #17
So, information from the PIA Form (https://www.privateinternetaccess.com/forum/discussion/comment/43689#Comment_43689) points me to this web page: https://helpdesk.privateinternetaccess.com/hc/en-us/articles/225274288-Which-encryption-auth-settings-should-I-use-for-ports-on-your-gateways-

Apparently, there is a 3rd certification. I'll have to get that setup.

[2016-10-15 20:56] wrhight opened #21 "All .conf files in /etc/openvpn are using the wrong filenames for .pem and .crt"
The .conf files in /etc/openvpn referenced by "crl-verify" and "ca" are referencing "2096" for the .pem and .crt files. I suggest changing this to "2048" or "4096" for those using stronger encryption.

[2016-10-15 20:57] #21 closed

[2016-10-15 20:57] wrhight commented on #21
Sorry. Just noticed this was closed and fixed for dev branch.

[2016-10-16 07:42] flamusdiu commented on #21
@wrhight yeah, sorry. I am working on trying to get it pushed over. I only have my Razer Blade with me which I didn't get a chance to install Arch before I left.

[2016-10-25 16:55] Flat opened #22 "HMAC Authentication error"
All connection configs for openvpn using pia -a error with

[code]

[2016-10-25 18:49] flamusdiu commented on #22
umm, that's a first for that error. So, none of the configs work from cli using OpenVPN?

[2016-10-25 18:54] Flat commented on #22
Correct. downloading the configs directly and placing them in /etc/OpenVPN/ works fine though.

[2016-10-25 18:56] flamusdiu commented on #22
@Flat, sigh, okay. Let me take a look at the PIA configs. I wonder if they changed them.

[2016-10-27 15:15] Flat commented on #22
@flamusdiu looking through their table and comparing config files generated by python-pia and the ones taken from their website they seem to have changed the hashing and encryption scheme for port 1198. port 1198 is now `AES-128-CBC` and `SHA1` while 1197 is `AES-256-CBC` and `SHA256` using the 4096 certificates. it also looks like python-pia is ignoring `/etc/private-internet-access/pia.conf` and

[2016-10-27 15:22] flamusdiu commented on #22
I thought that's the way I set it. Either way, I may just drop configuring it that way. There are a limited number of options based on #17 findings. I'll just reconfigure it to use those options and just allow ppl to select which one they want. I am also thinking of DLing the certs directly from PIA (there are 3 of them) instead of pulling them from the Zips.

[2016-11-15 00:51] ripdog opened #23 "Certificates are 2048 bits, but conf files look for 2096"
Brand new install on Arch, `pia -a` creates a bunch of config files which refer to a `ca.rsa.2096.crt`, which leads to this:

    /etc/openvpn/ca.rsa.2096.crt: cannot open `/etc/openvpn/ca.rsa.2096.crt' (No such file or directory)

Simply manually changing the conf files to refer to the 2048 versions fixes this.

Oh and the non -dev version on the AUR is broken, might wanna update it.

[2016-11-16 08:19] flamusdiu commented on #23
That should be fixed! Which  version did you install?

[2016-11-16 08:21] ripdog commented on #23
The -dev AUR package. I can get you a version number if you need it in 12
hours.

On 16 November 2016 21:19:16 flamusdiu notifications@github.com wrote:

[2016-12-30 17:28] podiki opened #24 "Update for new openvpn"
Upon updating `openvpn` the following message is displayed:

`This upgrade from openvpn 2.3.14-1 to openvpn 2.4.0-2 made changes that require
administrative interaction:`
` -> Configuration is expected in sub directories now. Move your files
    from /etc/openvpn/ to /etc/openvpn/server/ or /etc/openvpn/client/.`
 `-> The plugin lookup path changed, remove extra 'plugins/' from relative paths.`
 `

[2016-12-30 20:13] flamusdiu commented on #24
Umm...thanks for pointing these out!

On Fri, Dec 30, 2016, 12:28 PM John <notifications@github.com> wrote:

[2016-12-30 20:38] podiki commented on #24
I should have noted this was on Arch. Just a heads up for now, as everything seems to work the same anyway.

[2016-12-31 04:27] flamusdiu commented on #24
Yeah, still, going to push an update to fix it. Running `pia -a` won't work without manually coping the files if you are using OpenVPN directly.

[2016-12-31 06:00] flamusdiu commented on #24
Can you test out https://aur.archlinux.org/packages/private-internet-access-vpn-dev/ for me? Should work. You'll need to run `pia -r` before you install this version, however.

[2016-12-31 06:01] flamusdiu commented on #23
Can you test out https://aur.archlinux.org/packages/private-internet-access-vpn-dev/ for me? Should work. You'll need to run `pia -r` before you install this version, however.

Apparently, I left some old code and "fixed" it the wrong location. Let me know if the dev version works for you.

[2016-12-31 06:53] podiki commented on #24
I ran `pia -r` and then removed the non-dev version of this package (that is what I was using). Upon trying to install the dev version however, I ran into an error. Looks like a minor path issue.

Here is the end of the output (via pacaur):
`==> Extracting sources...`
`  -> Creating working copy of python-pia git repo...`
`Reset branch 'makepkg'`
`  -> Creating working copy of openvpn-update-resol

[2016-12-31 14:01] flamusdiu commented on #24
Woops. Fixed now.

[2016-12-31 17:04] podiki commented on #24
That works for me. It didn't like trying to build with the cached directory from before (pacaur), but once I removed it so it could start fresh it worked fine. Running `pia -a` put config files in `/etc/openvpn/client`, so that looks good. Connecting with `sudo openvpn /etc/openvpn/client/SERVER.conf` works.

However, no VPN connections appear in NetworkManager (checked with a tray applet and `nmt

[2016-12-31 18:17] flamusdiu commented on #24
Might be a different issue. NM stores configurations in `/etc/NetworkManager/system-connections` which are separate from OpenVPN's files.

[2016-12-31 18:26] flamusdiu commented on #24
You should have configurations there when you run `pia -a` with both networkmanager and networkmanager-openvpn installed.

[2016-12-31 18:32] podiki commented on #24
There are indeed connections in `/etc/NetworkManager/system-connections` after running `pia -a`, but they do not actually show up in networkmanager. I tried `pia -r` and removing the dev version and installing the non-dev version. After then running `pia -a` there are again files in `/etc/NetworkManager/system-connections` and they show up in networkmanager. Looks like something has changed then.

[2016-12-31 19:23] flamusdiu commented on #24
Not with that. Create a random VPN connection profile (or manually create one for PIA) and then see if it adds a file into that folder. I don't normally use NM.

[2016-12-31 21:58] podiki commented on #24
Yes, NM does add a file into `/etc/NetworkManager/system-connections`. So for some reason, while both the dev and non-dev version of `private-internet-access-vpn` create files for NM, only the non-dev version has them actually show up in NM (with current version of openvpn and NM). Perhaps some difference in the PKGBUILD? I noticed there are slightly different permissions from the non-dev version.

[2017-01-01 02:08] flamusdiu commented on #24
haha ... love security sometimes. Apparently, if they are not 600, NM treats them as insecure and won't load them. Thanks for the info.

[2017-01-01 03:13] podiki commented on #24
Guess they don't want you using one where a non-root user could read your password, best to be safer.

Glad we got it all sorted out, thanks for the quick changes. All looks good to me now so I'll close this.

[2017-01-01 03:13] #24 closed

[2017-01-01 17:11] flamusdiu commented on #17
Just pushed update on dev branch to fix this issue.

[2017-01-01 17:13] flamusdiu commented on #13
@maximbaz Is this still happening? I haven't noticed it on my end, yet. =(

[2017-01-01 17:13] flamusdiu commented on #22
Pushed update to dev branch. Going to close this one in favor of #17 .

[2017-01-01 17:13] #22 closed

[2017-01-01 17:14] flamusdiu commented on #23
Fixed on dev branch. I'll push it over as soon as I get some more testing done with it. You can comment on #17 of you find problems with it.

[2017-01-01 17:14] #23 closed

[2017-01-01 17:16] flamusdiu commented on #24
@podiki I just pushed another change to fix #17 before I push it to the main branch. Can you test out dev again? Looks good for me but you never know.

[2017-01-01 19:01] max-baz commented on #13
Yep, still happens. Try this website again, it constantly shows the leak for me: https://whoer.net/

[2017-01-01 20:36] podiki commented on #24
Installation and usage through NetworkManger looks good to me!

[2017-01-02 01:13] #17 closed

[2017-01-02 13:33] flamusdiu commented on #13
Yeah, I dislike that page. I feel it's pushing FUD.

1) It's shows "safe" or "None" as green. This honestly would cause people to think they are "fine" without VPNs.

2) I get 40% even after I disabled Flash. How the hell do I get the same score? Oh wait, they are using some "formula" which I have really no access to which changes the values.

3) Who the heck would change system times to match the

[2017-01-02 14:02] max-baz commented on #13
Agree on all points, the website is obscure, however it does show me a leak, and that's why I suggested it :)

As soon as I disable my "fix" mentioned [above](https://github.com/flamusdiu/python-pia/issues/13#issuecomment-240083626), in this column I begin to see my own country:

![image](https://cloud.githubusercontent.com/assets/1177900/21590479/6fdf89da-d0fc-11e6-8a9a-e3fa48c3d413.png)

When th

[2017-01-03 03:05] flamusdiu commented on #13
[code]

Here's mine. very odd.

[2017-01-03 10:29] max-baz commented on #13
FYI, I cannot set nameservers to localhost as you have in your `/etc/resolv.conf`. If I do that, nothing gets resolved. I have to set _some_ remote IP address, let it be PIA or something else.

Is it possible that you have some kind of a DNS resolver service running locally? Or how does that work in your case?

But I don't know, maybe the problem is with NetworkManager ¯\\\_(ツ)\_/¯

I'm perfectly

[2017-01-03 14:28] flamusdiu commented on #13
Maybe it has to do with the diff between ConnMan and NM?

[2017-01-03 14:31] flamusdiu commented on #13
I don't know; I may play with it some more. I might have to do a clean install just with NM (maybe using Gnome DE or something) and see if it happens. ¯\_(ツ)_/¯

[2017-01-03 14:31] #13 closed

[2017-01-03 14:49] flamusdiu commented on #13
@maximbaz are you running systemd-resolved?

[2017-01-03 15:09] flamusdiu commented on #13
Looks like it keeps using 8.8.8.8 and not my local DNS server. grr.

Also, see this -> https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1449001

[2017-01-03 15:36] max-baz commented on #13
Apparently I do not, so that's how your localhost entries do resolve hosts for you. Good to know!

I think there's something (NetworkManager itself?) that adds extra records to `/etc/resolv.conf` and that causes the leak. If we know a way to ensure that no extra entries are added, that would be the fix. Until then, a workaround is doing this for us.

Also good point is that systemd-resolved also f

[2017-01-03 15:56] flamusdiu commented on #13
Yes, just it's not using my local DNS for some dam reason. I just noticed this. Though, i don't mind them using it; It for the love of something holy, shouldn't be forcing configuring. I expect it to fail -- this isn't windows or ubuntu -- when things are not configured right. Not some blind work around.

[2017-01-03 15:57] flamusdiu commented on #13
NM automatically changes `/etc/resolv.conf` if you don't tell it not to do that. Though, seems, NM without systemd-resolv (or maybe even with it) using dispatch scripts to mod the DNS entries.

[2017-01-03 20:29] max-baz commented on #13
FYI: this bug is also tracked in https://github.com/masterkorp/openvpn-update-resolv-conf/issues/14, however it is also closed there with a conclusion that it is probably NetworkManager that is doing all the trouble.

[2017-01-04 19:28] averagejoey2000 opened #25 "pia -a KeyError: 'Cipher'"
I needed to change my VPN hosts to include CA_Toronto so I could port forward on my arch linux machine, but when I changed my pia.conf and used the tool, I got the following output:

[code]

/etc/private-internet-access/pia.conf

[code]

Tried using dev branch and master branch, neither works.

[2017-01-04 20:32] flamusdiu commented on #25
Umm, okay, I'll see what happened

[2017-01-05 00:43] #25 closed

[2017-01-05 01:17] averagejoey2000 opened #26 "OpenVPN Configurations source CA certs in /etc/openvpn/clients/*"
ca rsa certs not in directory sourced by openvpn.

[code]

[2017-01-05 03:21] flamusdiu commented on #26
Ha! Forgot some changes from the -dev package for the PKGBUILD. I'll get that updated tonight.

[2017-01-05 22:07] flamusdiu commented on #26
Should be fix now.

[2017-01-05 22:07] #26 closed

[2017-01-06 19:44] max-baz commented on #26
@flamusdiu it looks like there are no CA certs created by aur package, not by stable one, not by dev.
Could you please double check?

[2017-01-06 21:43] flamusdiu commented on #26
[code]

extracts and installs the certs in the right place. So I am confused here.

[2017-01-06 21:44] flamusdiu commented on #26
from => https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=private-internet-access-vpn

[2017-01-06 22:11] max-baz commented on #26
Could be a problem on my end if it works for you, just wanted to double check. Unfortunately I don't have time to investigate at the moment, so let's do nothing and see if someone else complains about this same problem :)

[2017-01-09 01:44] evil666 opened #27 "Certs not being generated."
Running pia -a on port 80 or 1197 in the pia.conf, standard certs and strong certs are not appearing in /etc/openvpn/client/. I had to manually download them from site and extract them to that directory.

[2017-01-09 14:07] max-baz commented on #27
@flamusdiu so I'm not the only one with [this issue](https://github.com/flamusdiu/python-pia/issues/26#issuecomment-270988033) after all :)

[2017-01-09 22:59] flamusdiu commented on #27
[code]

Very odd ...

[2017-01-10 01:07] max-baz commented on #27
Curious, I've tried twice today to remove and install the package again, and both times the issue did not reproduce.

[2017-01-10 02:08] evil666 commented on #27
I tried twice yesterday. With the issue still occurring after directories
were wiped. I'll try again tomorrow.

On Jan 9, 2017 7:07 PM, "Maxim Baz" <notifications@github.com> wrote:

[2017-01-10 02:59] flamusdiu commented on #27
When I install using `aura` and the following command:
[code]
You can use the below command with pacman for similar output after you build the package.
[code]
[Debug Output Gist](https://gist.github.com/flamusdiu/0b4a37589221983a7a4927cbf30f5015)

[2017-02-11 12:22] marcarrelus opened #28 "NetworkManager files not being generated"
I noticed that the configuration files for NetworkManager were not being generated. I tracked the possible problem down to the hooks.py file. The command binary for the NM strategy lists `/usr/lib/networkmanager/nm-openvpn-service`. If I look for this file on my system, it can be found in `/usr/lib/NetworkManager` (notice the camel case). I haven't found out if Network Manager has recently changed

[2017-02-11 16:45] flamusdiu commented on #28
Ahh, that's possible. I usually use Connman. I saw some problems from the AUR site a about possible issues. I getting home today so I'll try and merge this and get it updated tomorrow. Thanks for noticing the issue.

PS: Dam spaces ... shoot them down! =P

[2017-02-15 02:23] #28 closed

[2017-02-15 11:05] flamusdiu commented on #27
@evil666 is this still an issue for you?

[2017-02-28 03:21] #27 closed

[2017-07-14 13:44] chrisspen opened #30 "Package not installable by pip"
I can't find this package on https://pypi.python.org. There exists a package there by a [similar name](https://pypi.python.org/pypi/pia/0.1.0), but that's obviously not the same.

Could you please upload this package there so it can be installed by pip? That's the standard way of distributing and installing Python packages.

[2017-07-14 14:33] chrisspen opened #31 "Missing hosts file"
Attempting to run `pia --help` throws the error:

    Traceback (most recent call last):
      File "/myproject/.env/bin/pia", line 11, in <module>
        load_entry_point('pia==3.3.2', 'console_scripts', 'pia')()
      File "/myproject/.env/lib/python3.5/site-packages/pkg_resources/__init__.py", line 561, in load_entry_point
        return get_distribution(dist).load_entry_point(group, name)

[2017-07-14 15:02] chrisspen opened #32 "Unable to specify host"
How do you enable the VPN while specifying a specific host? Neither the docs nor wiki explain this, and seem to imply this package only generates configuration files, after which you just use OpenVPN manually to connect. Is this correct? I'm looking for a Python package to programmatically control PIA. Is that not the scope of this package?

[2017-07-14 15:37] flamusdiu commented on #31
That's odd .. the `vpn-hosts.txt` is generated when it's installed. not sure why you would be missing it.

[2017-07-14 15:39] flamusdiu commented on #32
If you do nothing, it auto-generates configuration files for OpenVPN and (if installed) connman and networkmanger. See https://wiki.archlinux.org/index.php/Private_Internet_Access_VPN#Example_Configuration for how to set specific hosts.

[2017-07-14 15:41] flamusdiu commented on #30
Well, I can look into it. It's not completely setup to work directly installed by `pip` due to some things the package from AUR does. Also, it really it only made to be installed on ArchLinux instead of to other Linux desktops.

[2017-07-14 15:42] flamusdiu commented on #31
Did you just clone the GigHub and try to do the install through `pip`?

[2017-07-14 16:51] chrisspen commented on #31
I cloned it and then installed it using `python setup.py install` from within my virtualenv.

[2017-07-14 20:23] flamusdiu commented on #31
Yup, that's why you are missing that file. It's created from the AUR PKGBUILD. You would also be missing the certification files. I would need to do some rework to get those installed from the pip install.

[2017-07-15 03:17] RunasSudo opened #33 "Fails silently if dependencies not installed (esp. OpenVPN)"
For example, if `openvpn` is not installed, the `pia -a` command returns success, but does not create any configuration files. Investigating this behaviour is further masked by the fact that the Arch package creates the `/etc/openvpn` directory, making it seem as if OpenVPN is installed.

Since the OpenVPN configuration files are supposed to always be created, it seems illogical for the command to

[2017-07-15 03:18] RunasSudo opened #34 "-d flag doesn't seem to work"
As per the title, running e.g. `pia -a -d` does not seem to enable debug logging. There is no output from the command, whereas if `debug()` is inserted somewhere in `run.sh`, some debug output is produced.

[2017-07-15 03:51] flamusdiu commented on #33
Umm, yeah, I'll have to change that. It looks for the binaries before deciding to create the files. I thought I had it to always do the OpenVPN config files.

[2017-07-15 03:51] flamusdiu commented on #34
@RunasSudo Yeah, I never got to working that in properly. I'll need to actually fix it at some point. Sorry for the confusion.

[2017-08-01 20:06] maximbaz opened #35 "[NM] pia.strong_encryption property is ignored"
We used to have the `strong_encryption` property under `[pia]` section in `pia.conf`, now it has no effect.

I found https://github.com/flamusdiu/python-pia/commit/73dc063b7cb5767f54a38ddefce6ab26ab389f6d, but I'm not sure anymore if removing the property was intentional, as I saw you referred to it on AUR a few months after that commit was made.

There is also no mention of this property on the w

[2017-08-01 21:36] flamusdiu commented on #35
I thought I talked about it. It was removed because the port says if it's strong encryption or not. I will check the wiki.

[2017-08-01 21:43] max-baz commented on #35
That makes sense, and it works! Thanks 🙂 It must have slipped my attention.

[2017-08-01 21:43] #35 closed

[2017-08-01 23:23] flamusdiu commented on #35
Change due to #17 . I will need to update the Wiki to better explain it.

[2017-08-01 23:24] flamusdiu commented on #32
@chrisspen if you still have an issue with this, please let me know by reopening this issue.

[2017-08-01 23:24] #32 closed

[2017-08-06 18:12] QasimK commented on #30
It may be worth putting it up on PyPi just to reserve the package name

[2017-09-01 21:01] jonascj commented on #33
I see this behavior as well. Indeed `/etc/openvpn` exist without the openvpn-package installed, maybe some other weird package created it (connman, networkmanager, etc.), who knows ...

The arch package (https://aur.archlinux.org/packages/private-internet-access-vpn/) does not seem to install openvpn as a dependency (maybe you have it as an optional dependency?).

[2017-10-02 20:55] solsticedhiver opened #36 "directory for systemd file is wrong"
You have not fixed what I have already tell you in a comment the 2017-04-15 on AUR

There is a typo. Systemd files should be in /usr/lib/systemd/system not in /usr/lib/system/systemd

the patch to the PKGBUILD

    --- PKGBUILD	2016-10-16 02:39:08.000000000 +0200
    +++ PKGBUILD.new	2017-04-05 23:39:35.878484391 +0200
    @@ -64,8 +64,8 @@
    package() {
    cd "${srcdir}"

    - install -D -m 6

[2017-10-02 21:16] flamusdiu commented on #36
@solsticedhiver woops. I don't know how I missed that (and your post). I've been traveling for work and don't have Archlinux on my laptop (yet) sadly. Let me setup docker and get it fixed in the couple of days.

[2017-10-10 01:34] flamusdiu commented on #36
fixed.

[2017-10-10 01:34] #36 closed

[2017-10-10 01:36] flamusdiu commented on #33
Added dependency. I may have thought (at one point) that connman or nm was usable without OpenVPN installed which isn't the case.

[2017-10-10 01:36] #33 closed

[2017-10-10 05:17] solsticedhiver commented on #36
No.

    install -D -m 644 restart.conf "${pkgdir}/usr/lib/system/openvpn-client@.service.d/restart.conf"

It misses a d after system , again.

Did you actually test this package ? and those feature ?

[2017-11-02 00:47] jabranham opened #37 "uninstallation leaves network manager unable to connect to the internet"
After uninstalling pia (installed via AUR), network manager can connect to LAN but not the internet

[2017-11-02 01:06] jabranham commented on #37
Nevermind, by odd coincidence my ISP experienced an outage the same time as I uninstalled this. Sorry for the noise!

[2017-11-02 01:06] #37 closed

[2017-11-02 08:32] flamusdiu commented on #37
Oops! I  hate when that happens =P

[2017-12-13 12:37] flamusdiu opened #38 "Incorrect NetworkManager paths"
https://github.com/flamusdiu/python-pia/blob/bff70fb189e853637aca6ef63d1746969f15fce6/src/pia/applications/hooks.py#L96

[2017-12-16 20:19] #38 closed

[2017-12-27 14:36] chipmunkboogie opened #40 "ERROR: One or more files did not pass the validity check!"
AUR PACKAGE:

openvpn-ip-lport.zip ... FAILED
    openvpn.zip ... FAILED
    openvpn-strong.zip ... FAILED
    login-example.conf ... Passed
    pia-example.conf ... Passed
    restart.conf ... Passed
    vpn.sh ... Passed
    pia.8.gz ... Passed
    python-pia ... Skipped
    openvpn-update-resolv-conf ... Skipped

[2017-12-27 14:53] flamusdiu commented on #40
Shoot...Let me check. I just updated last night.

[2017-12-27 15:10] flamusdiu commented on #40
@chipmunkboogie check your version. I updated it to 3.3.3 rel 2 and doesn't look like the ZIPs changed between last night and today. If you are doing a direct pull, then make sure you re-pull it since I had an issue where the SRCINFO file had the incorrect hashes compared to the PKGBUILD file.

[2017-12-30 00:44] chipmunkboogie commented on #40
I ran pacaur -Syu.  Aur does not list  an older version of the package. Full pull....?

[2017-12-30 03:09] flamusdiu commented on #40
It might be the way `pacaur` pulls the updates. I use `aura`. I would do a full pull. Might want to look into how it caches the installs as well.

[2018-01-02 23:55] allenkim commented on #40
I manually ran sha256sum on the packages and got the following, which was different from what I pulled.

[code]

Here was what I pulled correspondingly.
[code]

[2018-01-11 00:20] flamusdiu commented on #40
@allenkim I updated the zips again. I am working on trying to do a continuous build to help with these zips updating so much.

[2018-01-31 10:45] ralphee opened #41 "install issue"
having issues installing

http://ix.io/EZO

[2018-04-02 06:18] Bradley-Kars commented on #40
Its happening again sadly

==> Validating source files with sha256sums...
    ip-lport-3.3.3-5.zip ... FAILED
    default-3.3.3-5.zip ... FAILED
    strong-3.3.3-5.zip ... FAILED
    login-example.conf ... Passed
    pia-example.conf ... Passed
    restart.conf ... Passed
    vpn.sh ... Passed
    pia.8.gz ... Passed
    python-pia ... Skipped
    openvpn-update-resolv-conf ... Skipped
==> ERROR:

[2018-04-12 01:08] Bradley-Kars commented on #40
and when using aura:

aura >>= Fetching package information...
aura >>= Comparing package versions...
aura >>= No AUR package upgrades necessary.
aura >>= `private-internet-access-vpn` PKGBUILD is up to date.
aura >>= Determining dependencies...
aura >>= AUR Packages:
private-internet-access-vpn

aura >>= Continue? [Y/n]
aura >>= Building `private-internet-access-vpn`...
aura >>= Well, building `p

[2018-05-09 14:49] Ralph-Fonz commented on #41
https://aur.archlinux.org/packages/private-internet-access-vpn/

follow the comments to replace the old SHA

[2018-05-09 14:50] Ralph-Fonz commented on #40
New SHA sums:

sha256sums=('68de7ba3c2a3ce1a720af9ec33a36a1e07ce60fcd9d61c49dd6f098f958cffd2' '2f0571f19c3546cd0dea9aab0c99ba6a540d02e900bb006b0c28c1a1594b85be' '6cb0b0e4f424d7c2e0787a7dab344266d51931fdb310c0e6dd75e4ea33ed5008' '4322a2a4bc3e206c6ab7e1df87a8805032b76c177c1ed9dd3501260ed32ccb30' '797dbdb6e3aadc86f97262e26d61cf4847caf85dda4b7a97cac59088cb912b27' '246fc4dc3218f56b4c70014df6801b10fc2a5

[2018-07-13 19:42] aronwk-aaron opened #42 "Checksums not matching"
I know that there is already an issue for this, but the checksums in the PKGBUILD are still not correct.
[code]

[2019-09-12 04:53] j3r1ch0 opened #45 "Check sums are completely out of date"
Hi, this seems to be unable to be installed both from the AUR package (checksums are out of date) and also through doing a git clone of this repo and running the ez_setup.py script.

[2019-09-12 22:19] smackert commented on #45
Ran into this issue just now as well! You can skip the checksum validation by replacing the hashes in PKGBUILD with SKIP.

`sha256sums=('SKIP' 'SKIP' 'SKIP' 'SKIP' 'SKIP' 'SKIP' 'SKIP' 'SKIP' 'SKIP' 'SKIP')`

Keep in mind, this is really really bad practice.

[2019-09-25 15:47] j3r1ch0 commented on #45
Luckily I found another way, and just got it all setup through NetworkManager and the vpn applet. I wasn't really comfortable with skipping hash verification. Thanks though!

[2019-09-25 21:41] flamusdiu commented on #45
Yeah, I will update the next few days

On Wed, Sep 25, 2019, 10:47 AM Mike <notifications@github.com> wrote:

[2019-11-10 15:06] slch commented on #45
Yeaaa

[2019-11-17 00:42] FryDay commented on #45
Is this going to get updated?

[2019-11-24 03:38] sebiimaks commented on #45
The answer to that question should be obvious.

[2019-11-27 18:09] j3r1ch0 commented on #45
@FryDay I really doubt it at this point

[2020-02-25 20:15] aronwk-aaron commented on #45
See #40 #41 #42
@flamusdiu

[2021-01-13 04:11] flamusdiu commented on #45
Fixed with https://github.com/flamusdiu/python-pia/releases/tag/v3.4

[2021-01-13 04:11] #45 closed

[2021-01-13 04:12] flamusdiu commented on #42
Fixed with https://github.com/flamusdiu/python-pia/releases/tag/v3.4

[2021-01-13 04:12] #42 closed

[2021-01-13 04:13] flamusdiu commented on #41
#42 and Fixed with https://github.com/flamusdiu/python-pia/releases/tag/v3.4

[2021-01-13 04:13] #41 closed

[2021-01-13 04:14] #40 closed

[2021-01-13 04:14] flamusdiu commented on #31
Closing issue if there is still a problem, please reopen.

[2021-01-13 04:14] #31 closed

[2021-02-11 05:55] maynunal opened #46 "error while installing aur/private-internet-access-vpn"
Hi,
I am getting this error:
**ERROR: Failure while creating working copy of python-pia git repo**
during my arch install of aur/private-internet-access-vpn. I'm hoping you might be able to fix the problem.

Thanks

[2021-04-06 22:37] podiki commented on #46
See the AUR comments here: https://aur.archlinux.org/packages/private-internet-access-vpn/ (Not sure why this hasn't been fixed, hopefully @flamusdiu is okay and reappears)

[2021-04-25 23:56] E1lsum opened #47 "Traceback error pia -a and pia -r"
Hi I am getting this rror when running pia -a or pia -r
`Traceback (most recent call last):
  File "/usr/bin/pia", line 33, in <module>
    sys.exit(load_entry_point('pia==3.4', 'console_scripts', 'pia')())
  File "/usr/lib/python3.9/site-packages/pia/command_line.py", line 23, in main
    pia.run.run()
  File "/usr/lib/python3.9/site-packages/pia/run.py", line 53, in run
    properties.parse_conf

[2021-04-26 00:20] flamusdiu commented on #47
Let me take a look ... what config are you using?

[2021-04-26 00:58] E1lsum commented on #47
In pia.conf
`openvpn_auto_login = False

[configure]
apps = nm
hosts = US East, US West, Japan, UK London
port = 80`

Pretty much default until I get used to it, and I have sent user name and password in login.conf.  Just the two lines as specified.

[2021-04-26 01:21] flamusdiu commented on #47
Yeah, I had to remove port 80. See: https://www.privateinternetaccess.com/helpdesk/kb/articles/which-encryption-auth-settings-should-i-use-for-ports-on-your-gateways-3

Unless you use the official client. port 80 doesn't work. At least according to this article.

[2021-04-26 01:34] E1lsum commented on #47
Thanks for that, didn't consider that could be the issue :smile:

[2021-04-26 01:36] flamusdiu commented on #47
No worries. I wish it worked but they changed it. =\

[2021-04-26 01:36] #47 closed